.Button {
  padding: 10px 20px;
  margin: 0;
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.Button:focus {
  outline: none;
}

.Button[disabled] {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.success {
  background-color: rgba(0, 255, 0, 1);
}

.error {
  background-color: rgba(255, 0, 0, 1);
}

.primary {
  background-color: #3c99cb;
  color: #fff;
}
