.Input {
}

.Input label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  display: block;
}

.Input input {
  display: block;
  width: 100%;
  padding: 7px;
  border: 1px solid #525252;
  border-radius: 5px;
  outline: none;
  margin: 0;
  box-sizing: border-box;
}

.Input span {
  display: block;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.4);
  font-size: 12px;
}

.Input.invalid label {
  color: rgba(255, 0, 0, 0.4);
}

.Input.invalid span {
  margin-top: 10px;
}
